<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="global.msnthrp.feeed">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/shape_clicked"
                 android:supportsRtl="true"
                 android:name=".App"
                 android:theme="@style/AppTheme"
                 android:largeHeap="true"
                 tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".login.LoginActivity"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".exception.ExceptionActivity"/>
        <activity android:name=".imageviewer.activities.ImageViewerActivity"/>
        <activity android:name=".main.MainActivity"
                  android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".feed.activities.GroupActivity"/>
        <activity android:name=".dialogs.activities.DialogsActivity"/>

        <service android:name=".services.DownloadFileService"/>
    </application>
</manifest>
